<template>
  <div class="content_wrapper detaile_wrapper">
    <InfoStudent class="student__block" :dadata="getDadata" />
    <GoogleMap v-if="getDadata" class="map__block"
      :coordinates="[getDadata[2].geo_lat, getDadata[2].geo_lon]"
    />

    <div class="control_button">
			<router-link v-btn="{ background: '#da6c7f' }" :to="{ name: 'EditorCard', params: { id: getIdStudent } }" tag="button" type="button" class="button_circle">
        <i class="icon-edit"></i>
      </router-link>
      <button v-btn="{ background: '#000' }" type="button" class="button_circle" @click="$router.go(-1)">
        <i class="icon-return"></i>
      </button>
		</div>

  </div>
</template>

<script>
import InfoStudent from "@/components/InfoStudent";
import GoogleMap from "@/components/GoogleMap";

export default {
  name: "DetailedViewCard",

  mounted() {
    this.$store.dispatch("getApi", {
      api: `students/${this.getIdStudent}`,
      method: "GET",
    });
  },

  watch: {
    getContent(value) {
      if (value) {
        this.$store.dispatch("getDaData", {
          fio: `${this.getContent.last_name} ${this.getContent.name} ${this.getContent.patronymic}`,
          phone: `${this.getContent.phone_number}`,
          address: `${this.getContent.full_address}`,
        });
      }
    },
  },

  computed: {
    getContent() {
      return this.$store.getters.getContent;
    },
    getDadata() {
      return this.$store.getters.getDadata;
    },
    getIdStudent() {
      return this.$route.params.id;
    },
  },

  beforeDestroy() {
    this.$store.commit("clearDadata");
    this.$store.commit("clearContent");
  },

  components: {
    InfoStudent,
    GoogleMap,
  },
};
</script>

<style scoped>
  #app .detaile_wrapper {
    padding: 2.1875rem;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
  }

  .map__block {
    width: 67%;
  }

  .student__block {
    width: 30%;
    margin-right: 1.56rem;
  }

  @media screen and (max-width: 480px) {
    .map__block, .student__block { 
      width: 100%;
      margin: 0;
    }
    .map__block{
      margin-top: 2rem;
      height: 15rem;
    }
    .student__block { 
      position: relative;
    }

  }
</style>
