<template>
	<div class="content_wrapper editor_wrapper">
		
		<section class="form_student">
			<FormStudent :student="student_info" @click="dataRequest" @url_img="setAvatar" />
			<button v-if="activeBtn" type="button" class="btn_save" @click="save()">Сохранить</button>
		</section>

		<section v-if="getDadata" class="info_wrapper">
			<InfoStudent  class="student__block" :dadata="getDadata" :srcAvatar='srcAvatar' />
			<GoogleMap v-if="getDadata && getDadata[2].qc === 0" class="map__block" :coordinates="[getDadata[2].geo_lat, getDadata[2].geo_lon]" />
		</section>

    <div class="control_button">
      <button v-btn="{ background: '#000' }" type="button" class="button_circle" @click="$router.go(-1)">
        <i class="icon-return"></i>
      </button>
    </div>
	</div>
</template>

<script>
import InfoStudent from '@/components/InfoStudent'
import GoogleMap from '@/components/GoogleMap'
import FormStudent from '@/components/FormStudent'
import { translit } from "@/components/mixins/translit";
import { splitStr } from "@/components/mixins/splitStr";

	export default {
		name: 'EditorCard',

		mounted() {
			if (this.getIdStudent !== 'add') 
				this.$store.dispatch('getApi', {api: `students/${this.getIdStudent}`, method: 'GET'})
			else this.student_info = {
						fio: '',
						email: '',
						phone_number: '',
						address:  ''
					}
		},

		data () {
			return {
				student_info: null,
				srcAvatar: '',
				activeBtn: false
			}
		},

		watch: {
			getDadata (value) {
				this.activeBtn = value && value[0].qc === 0 && value[1].qc === 0 && value[2].qc === 0
			},
			getContent (value) {
				if (value) {
					this.$store.dispatch('getDaData', {
						fio: `${this.getContent.last_name} ${this.getContent.name} ${this.getContent.patronymic}`, 
						phone: `${this.getContent.phone_number}`,
						address: `${this.getContent.full_address}`
					}) 
					
					this.student_info = {
						id: value.id,
						fio: `${value.last_name} ${value.name} ${value.patronymic}`,
						email: this.$store.getters.getContent.email,
						phone_number: value.phone_number,
						address:  value.full_address
					}
				} else
					this.student_info = {
						fio: '',
						email: '',
						phone_number: '',
						address:  ''
					}
			}
		},

		computed: {
			getContent () {
				return this.getIdStudent !== 'add' ? this.$store.getters.getContent : null
			},
			getDadata () {
				return this.$store.getters.getDadata
			},
			getIdStudent () {
				return this.$route.params.id
			},
		},
		
		methods: {
			setAvatar (img) {
				this.srcAvatar = img
			},

			dataRequest (value) {
				this.$store.dispatch('getDaData', {
					fio: value.fio, 
					phone: value.phone_number,
					address: value.address
				}) 
			},

			getAccountEmail(value) {
				const email = this.splitStr(value).toLowerCase();
				const random = 1 + Math.random() * (1000 - 1);
				return `${this.translit_ISO9(email)}${random}@domen.ru`
			},

			save () {
				let data = {}
				this.$set(data, 'fio', this.getDadata[0].result)
				this.$set(data, 'address', this.getDadata[2].result)
				if (this.getDadata[1].phone !== this.$store.getters.getContent.phone_number) this.$set(data, 'phone_number', this.getDadata[1].phone)
				
				if (this.getIdStudent !== 'add') {
					// this.$set(data, 'email', this.$store.getters.getContent.email)
					this.$set(data, 'id', this.getIdStudent.id)

					this.$store.dispatch('api', {api: `students/${this.getIdStudent}`, method: 'PUT', data: data})
					.then(response => {
						this.$messageBar('Запись успешно добавлена', 'success') 
					})
					.catch(err => {
						this.$messageBar(err.response.data.description, 'warning')
					})
					
				} else {
					this.$set(data, 'email', this.getAccountEmail(data.fio))
					this.$store.dispatch('api', {api: `students`, method: 'POST', data: data})
					.then(response => {
						this.$messageBar('Запись успешно добавлена', 'success') 
					})
					.catch(err => {
						this.$messageBar(err.response.data.description, 'warning')
					})
				}

			}

		},
		
		components: {
			InfoStudent, GoogleMap, FormStudent
		},

		mixins: [translit, splitStr],

		beforeDestroy () {
		this.$store.commit('clearDadata')
		this.$store.commit('clearContent')
		},

		
	}

</script>

<style scoped>
  #app .editor_wrapper{
    padding: 2.2rem;
    justify-content: space-between;
  }

  .form_student {
	width: 25%;
    margin-right: 1.56rem;
  }

  .btn_save {
	background: rgb(218, 108, 127);
	width: 100%;
  }

  .info_wrapper {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    border: 1px dashed #ddd;
    padding: 2.34rem;

	width: 73%;

  }

  .info_wrapper .student__block,
  .info_wrapper .map__block {
    width: 48%;
  }

  @media screen and (max-width: 480px) {
	#app .editor_wrapper{
		flex-wrap: wrap;
	}
	.form_student, .info_wrapper {
		width: 100%;
	}
	.form_student {
		margin-right: 0;
		margin-bottom: 2rem;
	}
	.info_wrapper {
		flex-wrap: wrap;
	}
	.info_wrapper .student__block,
	.info_wrapper .map__block {
		width: 100%;
		position: relative;
	}
	.info_wrapper .map__block {
		height: 15rem;
	}
  }
</style>
