<template>
  <div class="main_container">
    <router-link class="button" :to="'/list-student'">ВХОД</router-link>
  </div>
</template>

<script>
export default {
  methods: {},
};
</script>

<style scoped>
  .main_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }

  a {
    color: #888888;
    border: 1px solid #dfdfdf;
    padding: 1rem 4rem;

  }
  
  a:hover {
    background: #eee;
  }

</style>