<template>
    <div class="content_wrapper student_list">
        <div class="checkbox">
            <input type='checkbox'><label>Включить архив</label> 
        </div>
        <CardStudent v-for="(student, key) in getContent" :key="`student${key}`" :data="student" @click="openCard('DetailedViewCard', student.id)"/>
        <div class="control_button">
            <router-link v-btn="{ background: '#da6c7f' }" :to="{ name: 'EditorCard', params: { id: 'add' }}" tag="button" type="button" class="button_circle">
                <i class="icon-add" ></i>
              </router-link>
            <button v-btn="{ background: '#000' }" type="button" class="button_circle" @click="$router.go(-1)">
                <i class="icon-return"></i>
            </button>
        </div>
    </div>
</template>

<script>
import CardStudent from '@/components/CardStudent'

    export default {
    name: 'ListStudent',

        created() {
            this.$store.dispatch('getApi', {api: 'students', method: 'GET'})
        },

        computed: {
            getContent () {
                return this.$store.getters.getContent
            }
        },

        methods: {
            openCard(name_route, id) {
                this.$router.push({name: name_route,  params: {id: id}});
            }
        },

        components: {
            CardStudent
        },

    }

</script>

<style scoped>
    .student_list {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .checkbox {
        position: absolute;
        width: max-content;
        right: 0;
        top: -4rem;
    }

    @media screen and (max-width: 480px) {
        #app .student_list {
            margin: 6rem auto;
        }
    }


    

</style>
