<template>
	<ul v-if="data" class="card_wrapper" @click="openCard()">
		<li class="card_photo"></li>
		<li class="card_content">
			<span>{{ `${data.last_name} ${data.name} ${data.patronymic}` }}</span>
			<span>{{ `ISO-9: ${translit_ISO9(data.last_name)} ${translit_ISO9(data.name)} ${translit_ISO9(data.patronymic)}` }}</span>
		</li>
		<li class="card_content">
			<span>{{ data.full_address }}</span>
			<span>{{ `Индекс: ${data.postal_code}` }}</span>
		</li>
		<li class="card_content">
			<span>{{ replaceNumbers(data.phone_number, [5,6,7,8,9]) }}</span>
			<span>Тип номера: Мобильный</span>
		</li>
	</ul>
</template>

<script>
import { translit } from "./mixins/translit";
  
	export default {
    name: 'CardStudent',
    props: {
    data: {
        type: Object
      }
    },
    methods: {
      openCard () {
        this.$emit('click')
      },
      replaceNumbers (str, pos) {
        let count = 0;
        return str.replace(/\d/g, d => pos.includes(++count) ? '*' : d);
      },
    },
    mixins: [translit]
	}

</script>

<style scoped>
	.card_wrapper{
    display: flex;
    justify-content: space-between;

    cursor: pointer;
  }
  .card_wrapper:hover{
    background: rgb(246, 246, 246);
  }

  .card_wrapper li{
    display: flex;
    flex-direction: column;
    
    padding-top: 2.1875rem;
    margin: 0.5rem 0;
  }

  .card_wrapper li:first-child{

    background: url('../assets/avatar.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    width: 5.625rem;
    height: 5.625rem;
  }
  .card_wrapper li:nth-child(2){
    width: 22%;
  }
  .card_wrapper li:nth-child(3){
    width: 33%;
  }
  .card_wrapper li:nth-child(4){
    width: 20%;
  }

  .card_content span:nth-child(1) {
    font-size: 1.015rem;
  }

  .card_content span:nth-child(2) {
    font-size: 0.86rem;
    color: #8c8c8c;
  }

  @media screen and (max-width: 480px) {

    .card_wrapper{
      flex-wrap: wrap;
      border-bottom: 1px solid #ddd;
      padding: 1.2rem 0;
      align-items: center;
    }

    .card_wrapper li:nth-child(2){
      width: 70%;
    }
    .card_wrapper li:nth-child(3){
      width: 100%;
    }
    .card_wrapper li:nth-child(4){
      width: 100%;
    }

    .card_wrapper li {
      padding-top: 0;
    }
  }





</style>
