<template>

	<form v-if="student" class="main-header">
    <p>Фамилия имя и отчество</p>
		<input type="text" v-model.trim="student.fio" placeholder="Фамилия имя и отчество" />

    <p>Адрес проживания</p>
    <vuesuggestions type="text" placeholder="Адрес проживания"
      :model.sync="student.address" 
      :options="suggestionOptions"  />

    <p>Контактный телефон</p>
    <input type="text" v-model.trim="student.phone_number" placeholder="Контактный телефон" />

    <p>Фотография</p>

    <div class="upload_file">
      <input type="file" ref="file" class="inputfile" @change="onFileChange"/>
      <label for="file">{{ name_img ? name_img : 'Добавить файл' }}</label>
    </div>
    

    <button type="button" @click="dataRequest(), checkForm()">Проверить</button>

	</form>

</template>

<script>
import vuesuggestions from 'vue-suggestions'

	export default {
    name: 'FormStudent',
    props: {
      student: {
        type: Object,
      }
    },

    data () {
      return {
        text: '',
        name_img: '',
        suggestionOptions: {
          token: this.$store.getters.getToken,
          type: 'ADDRESS',
          scrollOnFocus: true,
          triggerSelectOnBlur: true,
          triggerSelectOnEnter: false,
          addon: 'none',
          onSelect (suggestion) {
          }
        }
  
      }
    },

    methods: {

      dataRequest () {
        if (!this.student.phone_number || !this.student.address || !this.student.fio)
          return
        
        this.$emit('click', this.student)
      },
      checkForm () {
        let error = '';
        if (!this.student.fio) error += 'Фамилия имя и отчество, ' 
        if (!this.student.address) error += 'Адрес проживания, ' 
        if (!this.student.phone_number) error += 'Контактный телефон, ' 

        if (error !== '') this.$messageBar(`Заполните поля: ${error}`, 'warning') 
      },
      onFileChange(e) {
          let file_img = e.target.files[0];
          this.name_img = file_img.name
          this.$emit('url_img', URL.createObjectURL(file_img) )
      },
    },
  
		components: {
			vuesuggestions
    },
    
	}

</script>

<style scoped>
	form p {
    font-size: 0.78125rem;
    font-weight: 600;

    color: #989898;
  }

  form input, 
  form .upload_file,
  form button {
    margin: 0.24rem 0 1.1rem;
  }

  form button {
    display: flex;
    justify-content: center;
    width: 100%;

    background: #000;
    border: none;
  }

  .upload_file {
    position: relative;
    width: 100%;
    display: flex;
  }

  .inputfile {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

.inputfile + label {
        font-family: "Open Sans";
        font-weight: normal;
        border: 1px solid #d1d1d1;
        padding: 0.3rem 0.7rem;
        width: 100%;
    }

</style>
