<template>
  <section class="map_wrapper">
    <div id="map"></div>
  </section>
</template>

<script>
export default {
  name: 'GoogleMap',

  props: {
    coordinates: {
      type: Array
    }
  },

  data() {
    return {
      map: null,
    }
  },

  mounted () {
    this.renderMap() 
  },

  methods: {
    async renderMap () {
      document.getElementById('map').innerHTML = ''
      this.map = null

      await ymaps.ready(() => {
      this.map = new ymaps.Map('map', {
          center: this.getCoordinates,
          zoom: 17,
          controls: []
      }, {suppressMapOpenBlock: true})

      let placemark = new ymaps.Placemark(this.getCoordinates,{}, {
          iconLayout: 'default#image',
      })

      this.map.geoObjects.add(placemark)
    })
    }
  },

  watch: {
      getCoordinates (newVal, oldVal) {
        if (newVal.join() !== oldVal.join()) this.renderMap() 
      }
  },

  computed: {
    getCoordinates () {
      return this.coordinates
    }
  }

}
</script>

<style>
  #map {
    height: 100%;
    width: 100%;
  }
  .ymaps-2-1-77-ground-pane {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
  }
</style>