<template>
	<div class="main-header">
		<router-link :to="'/'" tag="div" class="wrapper-logo">
			<p class="logo-img"></p>
			<p class="logo-info">Сервис для хороших людей</p>
		</router-link>
		<p class="heder-info">1.0</p>
	</div>
</template>

<script>
	export default {
		name: 'Header'
	}

</script>

<style scoped>
	.main-header {
		display: flex;
		align-items: center;
		justify-content: space-between;

		position: sticky;
		top: 0;
		padding: 1.093em 1.875em 1.093em 0.78rem;
		z-index: 10;

		background: #fff;
		box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
	}
	.wrapper-logo {
		display: flex;
		align-items: center;
	}
	.logo-img {
		width: 2.34rem;
		height: 2.34rem;
		
		background: url('../assets/logo.svg');
		background-size: cover;
	}
	.logo-info {
		margin-left: .4rem;
		text-transform: uppercase;
	}
	.heder-info{
		background: #2487ef;
		color: #fff;

		border-radius: 3px;
		padding: 0 0.5rem;
	}

</style>
