<template>
	<section>

		<div v-if="!srcAvatar" class="avatar"></div>
		<div v-else class="avatar" :style="`
			background: url('${srcAvatar}') center / cover;
			border-radius: 100%;
			width: 5.625rem;
			height: 5.625rem;
		`"></div>

    <!-- блок информации о студенте -->
		<ul class="student">
			<li class="name">{{ dadata ? `${dadata[0].surname} ${dadata[0].name}` : '' }}</li>
			<li>
				<span>{{ `ID: ${$route.params.id !=='add' ? $route.params.id : ''}` }}</span>
				<span>{{ dadata && dadata[0].qc === 0 ? `ISO-9: ${translit_ISO9(dadata[0].surname)} ${translit_ISO9(dadata[0].name)}` : 'ISO-9:' }}</span>
			</li>
			<li>
				<span>{{ `Родительный падеж: ${dadata ? dadata[0].result_genitive : ''}` }}</span>
				<span>{{ `Дательный падеж: ${dadata ? dadata[0].result_dative : ''}` }}</span>
				<span>{{ `Творительный падеж: ${dadata ? dadata[0].result_ablative : ''}` }}</span>
			</li>
			<li v-if="dadata && dadata[0].qc > 0"><span class="warning">{{ getQC('user', dadata[0].qc) }}</span></li>
		</ul>
    <!-- блок информации о студенте конец-->

    <!-- блок информации о геолокации -->
		<ul>
			<li>{{ dadata ? `${dadata[2].source}` : '' }}</li>
			<li>
				<span>{{ `Индекс:  ${dadata ? dadata[2].postal_code : ''}` }}</span>
				<span>{{ dadata ? `Координаты: ${dadata[2].geo_lat}, ${dadata[2].geo_lon}` : 'Координаты:' }}</span>
			</li>
			<li><span>{{ `Округ: ${ dadata ? dadata[2].city_district : ''}` }}</span>
				<span>{{ `Район: ${ dadata ? dadata[2].city_district : ''}` }}</span>
			</li>
			<li>
				<span>{{ `Площадь (кв.м): 0` }}</span>
				<span>{{ `Стоимость (руб.): 0` }}</span>
			</li>
			<li v-if="dadata && dadata[2].metro">
				<span>{{ `Метро: ` }}</span>
				<span class="list-child" v-for="(metro, key) in dadata[2].metro" :key="`mtr${key}`">{{ `${metro.line} - ${metro.distance} км.` }}</span>
			</li>
			<li v-if="dadata && dadata[2].qc > 0"><span class="warning">{{ getQC('address', dadata[2].qc) }}</span></li>
		</ul>
    <!-- блок информации о геолокации конец-->

    <!-- блок информации о номере телефона -->
		<ul>
			<li>{{ dadata ? `${dadata[1].phone}` : '' }}</li>
			<li>
				<span>{{ `Оператор связи: ${ dadata ? dadata[1].provider : ''}` }}</span>
				<span>{{ `Тип номера: ${ dadata ? dadata[1].type : ''}` }}</span>
			</li>
			<li v-if="dadata && dadata[1].qc > 0"><span class="warning">{{ getQC('phone', dadata[1].qc) }}</span></li>
		</ul>
    <!-- блок информации о номере телефона конец-->

	</section>
</template>

<script>
  import { translit } from "./mixins/translit";
  
	export default {
    name: 'InfoStudent',
    
    props: {
    //   student: {
    //     type: Object,
	//   },
		srcAvatar: {
			type: String,
			default: null
		},
      dadata: {
        type: Array
      }
    },

    methods: {
      getQC(qc_name, qc) {
        let code_list = {
		address_1: 'Адресс не распознан',
          phone_7: 'Иностранный телефон',
          phone_1: 'Телефон не распознан',
          phone_3: 'Обнаружено несколько телефонов, распознан первый.',
          user_1: 'ФИО не распознано',
        };
        return (typeof code_list[`${qc_name}_${qc}`] !== "undefined") ? code_list[`${qc_name}_${qc}`] : null
      }
    },

    mixins: [translit]
	}

</script>

<style scoped>

section .avatar {
	background: url('../assets/avatar.jpg');
	background-position: center;
	background-size: cover;
	border-radius: 100%;

	width: 5.625rem;
	height: 5.625rem;
}

section ul {
  margin: 0.781rem 0;
}
section ul .name {
  text-transform: uppercase;
}

ul li:not(:first-child){
	display: flex;
	flex-direction: column;
	font-size: 0.781rem;
	font-weight: 600;
  color: #989898;

  margin-bottom: 0.781rem;
}

ul li:first-child {
  font-weight: 600;
}

.list-child{
	margin-left: 2.1875rem;
}

.warning {
  color: red;
  font-size: 0.781rem;
  font-weight: bold;
  border-bottom: 1px solid red;;
}

.warning::before {
  content: 'Требуется проверка вручную: ';
}

@media screen and (max-width: 480px) {
	.student {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: flex-end;
	}

	.student li {
		width: 100%;
	}
	.student li:nth-child(1),
	.student li:nth-child(2) {
		width: 70%;
	}

	section .avatar {
		position: absolute;
		top: 0;
		width: 5rem !important;
		height: 5rem !important;
	}
    
}
</style>
