<template v-show="isActive">
  <transition name="fade_snackbar">
    <div id="snackbar" class="show" :class="_style">{{ text }}
      <span class="closebtn" @click="close()">&times;</span> 
    </div>
  </transition>
</template>

<script>
  export default {
    props: {
      text: {
        type: String,
        required: true,
      },
      _style: {
        type: String,
        required: false,
        default: 'default',
      },
      _timer: {
        type: Number,
        required: false,
        default: 3500,
      },
    },
    data () {
      return {
        isActive: null,
        varTimer: null,
      }
    },
    created(){
      this.isActive = true
      let that = this
      this.varTimer = setTimeout(function(){ 
        that.isActive = false;
        that.$emit('confirm')
      }, this._timer);
    },

    methods: {
      close() {

        this.$emit('confirm');
        clearTimeout(this.varTimer)
      },
    }
  }
</script>

<style scoped>
  #snackbar {
    width: 90%;
    color: #fff;
    padding: 1em;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

  }
  #snackbar.show {
    
  }

  .show.default {background-color: rgb(158, 158, 158);}
  .show.success {background-color: #4CAF50;}
  .show.info {background-color: #2196F3;}
  .show.warning {background-color: #fd6d81;}

  .closebtn {
    margin-left: 2em;
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }

  .fade_snackbar-enter-active, .fade_snackbar-leave-active {
    
    top: 5em;
    transition: all 0.45s;
  }
  .fade_snackbar-enter, .fade_snackbar-leave-to {
    top: 5em;
    transition: all 0.45s;
  }

  @media screen and (max-width: 480px) {
    #snackbar {
      width: 100%;
    }
  }

</style>



