<template>
  <div id="app">
    <Loader v-if="getPreload || getPreloadDadata" />
    <main-header /> 
    <router-view />
  </div>
</template>

<script>
import MainHeader from "@/components/Header"
import Loader from "@/components/Loader"

export default {
  name: "App",

  computed: {
		getPreload () {
			return this.$store.getters.getPreload
    },
    getPreloadDadata () {
			return this.$store.getters.getPreloadDadata
		}
  },
  
  components: {
    MainHeader
  },

};
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1vw;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.input, input:not([type="file"]),
input:not([type="checkbox"]) {
  font-family: "Open Sans";
  font-weight: normal;

  border: 1px solid #d1d1d1;
  padding: 0.2rem 0.7rem;

  width: 100%;
}


input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 100%;
    z-index: 1;
}

input[type="checkbox"] + label{
  position: relative;
  cursor: pointer;
  line-height: 30px;
}

input[type="checkbox"] + label {
  padding: 0 0 0 60px;
}

input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 37px;
    height: 12px;
    border-radius: 13px;
    background: rgb(202, 202, 202);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}

input[type="checkbox"] + label:after {
  content: '';
  position: absolute;
  top: -1px;
  left: 3px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}

input[type="checkbox"]:checked + label:before {
  background: #2487ef;
}

input[type="checkbox"]:checked + label:after {
  left: 27px;
}


button {
  font-family: "Open Sans";
  font-weight: normal;
  text-transform: uppercase;

  border: 1px solid #d1d1d1;
  padding: 0.7rem 1rem;
  color: #FFF;

  cursor: pointer;
}

.control_button {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  z-index: 1;
}

.button_circle{
  border: 0;
  border-radius: 100%;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);

  width: 48px;
  height: 48px;

  margin-right: 15px;
  position: relative;
}

.icon-add {
  background-image: url("./assets/icon_add.svg");
}
.icon-return {
  background-image: url("./assets/icon_return.png");
}
.icon-edit {
  background-image: url("./assets/icon_edit.svg");
}

.icon-add, .icon-return, .icon-edit {
  background-repeat : no-repeat;
  background-position: center;
  background-size: 60%;

  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";

  min-height: 100vh;
}

#app .content_wrapper {
  display: flex;
  padding: 1.25rem 2.1875rem;
  width: 87rem;
  margin: 6rem auto;
  border: 1px dashed #ddd;
}

@media screen and (max-width: 480px) {
  html {
    font-size: 3vw;
  }

  .control_button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }

  #app .content_wrapper {
    width: 92%;
    margin: 3rem auto;
  }
}

</style>

